# Global gitignore file
# Make sure the git global config is looking out for this as an excludesfile
# You can do that with git config --global core.excludesfile ~/.gitignore

# VS Code Configs
.vscode/
